.chat-box {
    width: 400px;
    padding: 20px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    max-height: 90vh;
    overflow: scroll;
}
.message {
    font-size: .75em;
    padding-bottom: .5em;
}
.message p {
    margin-bottom: .5rem;
}

#messages {
    /* max-height: 500px;  */
    /* max-height:  */
    max-height: 55vh;
    overflow: scroll;
}
/* #new-message-form {
    overflow: scroll;
    max-height: 400px;
} */

.message h5 {
    font-size: 1.25em;
}