.chat-box {
    width: 400px;
    padding: 20px;
    position: fixed;
    bottom: 0;
    right: -10px;
    max-height: 95vh;
    overflow: scroll;
    overflow-x: hidden;
}
.message {
    font-size: .75em;
    padding-bottom: .5em;
}
.message p {
    margin-bottom: .5rem;
}

#messages {
    /* max-height: 500px;  */
    /* max-height:  */
    max-height: 55vh;
    overflow: scroll;
}
/* #new-message-form {
    overflow: scroll;
    max-height: 400px;
} */

.message h5 {
    font-size: 1.25em;
}

.dimming {
  animation-name: dims;
  animation-duration: 4s;
  background-color: #0d0d0d;
}
@keyframes dims {
  0%   {background-color:white;}
  100% {background-color:#0d0d0d;}
}
.brightening {
  animation-name: brightens;
  animation-duration: 3s;
  background-color: white;
}
@keyframes brightens {
  0% {background-color:#0d0d0d;}
  100%   {background-color:white;}
}
